* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

#root {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgb(228, 228, 228);
}

.app-container {
  box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 4px 16px -4px rgba(0,0,0,.16);
  background-color: white;
  height: 95%;
  width: 95%;
  border-radius: 10px;
  margin: auto;
  overflow-y: scroll;
  font-family: 'Karla', sans-serif;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  border-radius: 8px;
  margin: 1em;
  height: 320px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px, rgba(0, 0, 0, 0.15) 0px -3px 8px;
}

h1, h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.card > h2 {
  margin-top: 0.5em;
}

.activity-details {
  margin-top: 1em;
}

p {
  margin: 0 0 0 1em;
  font-weight: 500;
  font-size: 1rem;
}


.grey {
  color: darkslategray;
  font-weight: 400;
}

