* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #F3F7F6;
  }
  
  .header {
    background-color: #446461;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  .data-area {
    min-height: 100vh;
  }
  
  .footer {
    background-color: #446461;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .footer-text {
    color: white;
    font-size: 0.75rem;
    margin-top: 0.5rem;
  }
  
  .h3 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    text-decoration: none;
  }
  
  .link {
    margin: 1rem;
    color: white;
    text-decoration: none;
  }
  
  .data-area {
    margin: 1rem;
  }
  
  .data-area:has(.login-container) {
    display: flex;
  }
  
  .login-container {
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    border-radius: 8px;
    box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.10), 0px 3px 8px rgba(0, 0, 0, 0.10);
  }
  
  .login-form {
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .login-form > input {
    padding: 0.75rem 0.5rem;
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 4px;
  }
  
  .login-form > button {
    padding: 0.75rem 0.5rem;
    background-color: #446461;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 500;
  }
  
  .login-form > button:hover {
    background-color: #2f4643;
    cursor: pointer;
  }
  
  .login-title {
    margin-bottom: 2rem;
  }
  
  .bottom-text {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  .bold {
    font-weight: 700;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  .underline:hover {
    cursor: pointer;
  }
  
  .error-container {
    background-color: rgb(255, 187, 187);
    width: 90%;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    color: rgb(136, 0, 0);
    border-radius: 4px;
  }
  
  a {
    color: black;
  }
  
  .success-container {
    background-color: hsl(120, 58%, 82%);
    width: 90%;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    color: hsl(120, 100%, 20%);
    border-radius: 4px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section {
    display: flex;
    gap: 1rem;
    height: 90vh;
    width: 100%;
    max-width: 1200px;
  }
  
  .cta-container-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10rem 1rem 1rem 1rem;
  }
  
  .cta-main-text {
    font-size: 3.75rem;
    font-weight: 700;
    margin: 0;
  }
  
  .cta-sub-text {
    font-size: 1.25rem;
    font-weight: 500;
    color: hsl(0, 0%, 33%);
  }
  
  .cta-container-right {
    width: 50%;
    padding: 1rem;
  }
  
  .cta-container-left > .button {
    padding: 0.75rem 0.5rem;
    background-color: #446461;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    width: 20%;
    text-align: center;
    text-decoration: none;
  }
  
  .cta-container-left > .button:hover {
    background-color: #2f4643;
    cursor: pointer;
  }

  .data-area:has(.profile-container) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 700px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.10), 0px 3px 8px rgba(0, 0, 0, 0.10);
  }

  p {
    margin: 2rem;
  }

  .profile-details-container {
    padding-bottom: 1rem;
  }

  .update-btn {
    padding: 0.5rem;
    background-color: #446461;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 400;
  }

  .update-btn:hover {
    cursor: pointer;
    background-color: #2f4643;
  }

  .update-form {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
  }

  .form-row {
    margin: 1rem;
  }

  form > .update-btn {
    padding: 0.5rem;
    background-color: #446461;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    width: 25%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
  }

  .form-row > input {
    border: solid gray 1px;
    border-radius: 4px;
    padding: 0.5rem;
    font-weight: 600;
  }

  .data-area:has(.ldr){
    display: flex;
    justify-content: center;
  }

  .ldr {
    margin-top: 3rem;
  }

  .link-container {
    display: flex;
    gap: 1rem;
  }

  #auth-link, .dashboard-button {
    padding: 0.75rem 0.5rem;
    background-color: #446461;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    text-decoration: none;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }

  .dashboard-button:hover {
    cursor: pointer;
  }

  .dashboard-button:disabled {
    cursor: default;
    background-color: #b8b8b8;
    color: rgb(49, 49, 49);
  }

  .data-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .activities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
  }

  .activity-card {
    padding: 1rem 2rem 2rem 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05), -2px -2px 5px rgba(0, 0, 0, 0.05);
    width: 300px;
    border-radius: 8px;
  }

  .activity-details {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .no-margin {
    margin: 0;
    text-align: center;
  }




